<?xml version="1.0"?>
<appSettings>
  <!-- the client ID configured in your AAD tenant for this application -->
  <add key="ClientId" value=""/>

  <!-- the base uri for AAD authority including your AAD tenant ID -->
  <add key="AuthorityUriBase" value=""/>

  <!-- the Uri to redirect to at logout-->
  <add key="PostLogoutRedirectUri" value=""/>

  <!-- the AAD tenant domain hint -->
  <add key="DomainHint" value=""/>

  <!-- the client secret registered in AAD for this application -->
  <add key="ClientSecret" value=""/>

  <!-- the base Uri for Azure subscription management -->
  <add key="TokenResource" value=""/>

  <!-- the subscription ID containing the VMs to manage -->
  <add key="SubscriptionId" value=""/>

  <!-- the name of the resource group containing the managed VMs -->
  <add key="DeploymentResourceGroup" value=""/>

  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
</appSettings>